<h1>Student Form</h1>
<%= form_for(@student) do |f| %>
  <%= f.label "Student's First Name" %><br>
  <%= f.text_field :first_name %><br>

  <%=  f.label "Student's Last Name" %><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit "Create Student" %>
<% end %>
